<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESLL</title>
    <link href="{{ url_for('static', filename='css/homemobile.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/esll_logo2.png')}}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <img id="logo" src="{{ url_for('static', filename='images/esll_logo2.png')}}" alt="Healthy Plate" width="150" height="100">
            <h1>Eat Smart Live Longer</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Home</a></li>
                <li><a href="{{ url_for('veg_page')}}">Vegetables</a></li>
                <li><a href="{{ url_for('meat_page')}}">Meats</a></li>
                <li><a href="{{ url_for('grains_page')}}">Grains</a></li>
            </ul>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <aside>
            <div class="roll">
        <div  class="inroll">
            <img id="pep1" src="{{ url_for('static', filename='images/peper1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="tom1" src="{{ url_for('static', filename='images/tomato1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="lem1" src="{{ url_for('static', filename='images/lemon1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="apric1" src="{{ url_for('static', filename='images/apricot1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="apl1" src="{{ url_for('static', filename='images/apple1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="cher1" src="{{ url_for('static', filename='images/cherry1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="strw1" src="{{ url_for('static', filename='images/strawberry1.png')}}" alt="Healthy Plate" width="50" height="50">
            <img id="ban1" src="{{ url_for('static', filename='images/bananna1.png')}}" alt="Healthy Plate" width="50" height="50">
        </div>
        <script src="{{ url_for('static', filename='js/asideroll.js')}}"></script>
    </div>
        </aside>
        <footer>Copyright &copy; 2025 ESLL - All rights reserved</footer>
    </div>
</body>
</html>