{% extends 'base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/contact_main.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}
    <section id="contsec">
        <h2> Contact Information </h2>
            <ul id="contlipage">
                <li><strong> Address:</strong></li>
                <li>10 Pears Street</li>
                <li>Unit 7</li>
                <li>Industrial Estate</li>
                <li>Dublin</li>
                <li>Ireland</li>
            </ul>
            <ul id="phonecont">
                <li><strong>Phone or Email:</strong></li>
                <li>Mon-Fri:</li>
                <li>9:00 - 17:00</li>
                <li>phone: +353 858349386</li>
                <li>email: esll.contact@gmail.com</li>
            </ul>
            <ul id="officeopen">
                <li><strong>Opening hours:</strong></li>
                <li>Mon - Thur:</li>
                <li>9:00 - 17:00</li>
                <li>Fri:</li>
                <li>9:00 - 16:00</li>
            </ul>
    </section>
{% endblock %}