{% extends 'base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/inputs.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/asideroll.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div>
    <section>
        <h2>Meats</h2>
        <p>
            Pork, Beef, Veal, Mutton, Lamb, Goat Meat, Venison, Bison Meat, 
            Kangaroo Meat, Game Meats, Chicken, Duck, Türkiye, Goose, Pheasant, 
            Emu, Fish, Lobster, Crab, Prawn, Mussels, Scallops, Oysters, Clams.
        </p>
    </section>
    <article>
        <h2>A wide variety of meats, with great flavor.</h2>
        <p>
            <h3>What do you have today?</h3>
            <form id="choose_form" method="POST">
                <label for="piked-meat">Pick your meat</label>
                <input type="text" name="meat" id="meat" list="meats" placeholder="Meats">
                <datalist id="meats">
                    <option value="Pork" label="Pork"></option>
                    <option value="Beef" label="Beef"></option>
                    <option value="Veal" label="Veal"></option>
                    <option value="Mutton" label="Mutton"></option>
                    <option value="Lamb" label="Lamb"></option>
                    <option value="Goat Meat" label="Goat Meat"></option>
                    <option value="Venison" label="Venison"></option>
                    <option value="Bison Meat" label="Bison Meat"></option>
                    <option value="Kangaroo Meat" label="Kangaroo Meat"></option>
                    <option value="Game Meats" label="Game Meats"></option>
                    <option value="Chicken" label="Chicken"></option>
                    <option value="Duck" label="Duck"></option>
                    <option value="Türkiye" label="Türkiye"></option>
                    <option value="Goose" label="Goose"></option>
                    <option value="Pheasant" label="Pheasant"></option>
                    <option value="Emu" label="Emu"></option>
                    <option value="Fish" label="Fish"></option>
                    <option value="Lobster" label="Lobster"></option>
                    <option value="Crab" label="Crab"></option>
                    <option value="Prawn" label="Prawn"></option>
                    <option value="Mussels" label="Mussels"></option>
                    <option value="Scallops" label="Scallops"></option>
                    <option value="Oysters" label="Oysters"></option>
                    <option value="Clams" label="Clams"></option>
                </datalist>&nbsp;
                <label for="gramms_select">Select the amount</label>
                <input type="text" name="gramm" id="meat_gramm" list="gramms" placeholder="Grams">
                <datalist id="gramms">
                    <option value="30" label="g"></option>
                    <option value="50" label="g"></option>
                    <option value="100" label="g"></option>
                    <option value="150" label="g"></option>
                    <option value="" label=""></option>
                </datalist>&nbsp;
                <input type="submit"/>&nbsp; <input type="reset"/>&nbsp;
                <label for="meat_cal">Calories total</label>
                <output name="calories">{{ calories }}</output>
            </form>
        </p>
    </article>
    <script src="{{ url_for('static', filename='js/mpinputs.js')}}"></script>
    </div>
{% endblock %}